# folders
manuscript/cover-letter
manuscript/review

# these two folders just duplicate the raw data in data-reverb & data-vocoder:
data-behavioral/reverb-raw
data-behavioral/vocoder-raw

# files
*.npz
*.pyc
.Rhistory
models/cluster-log*
models/convergence-failures.txt
